<link rel="stylesheet" href="/css/favorites.css">

<div class="page-container">
    <div >
        <h1 class="favorites-title">Your Favourite Flights</h1>
    </div>

    {{#if favorites.length}}
    <div class="favorites-grid">
        {{#each favorites}}
        <div class="favorite-card" id="fav-{{this.id}}">
            <div class="card-inner">
                <div class="card-front">
                    <h3 class="destination-title">To: {{this.destination}}</h3>
                    <p class="flight-info">From: <strong>{{this.origin}}</strong></p>
                    <p class="flight-info">Departure: <strong>{{this.time_departure}}</strong></p>
                    <p class="price-info"> Price: <strong>${{this.price}}</strong></p>
                    <button class="remove-btn" 
                        onclick="removeFavorite('{{this.id}}', '{{this.flight_id}}', '{{this.airline_id}}')">
                         Remove
                    </button>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{else}}
    <p class="no-favorites">You haven’t added any flights to your interest list yet!</p>
    {{/if}}
</div>

<script src="js/favorites.js"></script>
